
/* IMPORTING FONTS */
@font-face {
    font-family: 'PRIMETIME-Regular';
    src: url('../font/PRIMETIME-Regular.ttf.woff') format('woff'),
         url('../font/font/PRIMETIME-Regular.ttf.svg#PRIMETIME-Regular') format('svg'),
         url('../font/font/PRIMETIME-Regular.ttf.eot'),
         url('../font/font/PRIMETIME-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'socialtype';
    src: url('../font/socialtype.eot');
    src: url('../font/socialtype.eot?#iefix') format('embedded-opentype'),
         url('../font/socialtype.woff2') format('woff2'),
         url('../font/socialtype.woff') format('woff'),
         url('../font/socialtype.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html{ height:100%; }

body{ min-height:100%; padding:0; margin:0; position:relative; }


/* HOME PAGE */
  .big-container{
    width: 100vw;
    height: 100vh
  }
  .box{
    height: 100vh;
    width:50vw;
    float: left;
    background-color: white;
  }
  .Header-index p{
     text-align: center;
     color: grey;
     font-size: 20px;
  }

    /* Image Carousel */
    .carousel-item{
      max-height: 100vh;
      max-width:50vw;
    }
    .carousel-indicators li{
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
    .carousel-inner img {
      margin: auto;
    }

    /* BUTTON */
    .btn-lg{
      transition: background-image 0.5s;
      background-image: linear-gradient(to right, #181818 , rgb(40, 40, 40));
      border: none;
      border-radius: 25px;
      color: white;
      margin-top: 10%;
    }
    .btn-lg:hover{
      color: white;
      background-image: linear-gradient(to left, #181818 , rgb(40, 40, 40));
    }
    .btn{
      display: inline-block;
      text-align: center;
      margin-bottom: 50px;
    }

/* NAVBAR */
  .navbar-brand{
    width: 35px;
  }
  .nav-item{
    font-weight: 600;
  }




.float-left{
  float: left;
}
.float-right{
  float: right;
}





h1 {
  margin-top: 25%;
   font-family: 'PRIMETIME-Regular';
   text-align: center;
}



.icons a{
  font-family: 'socialtype';
  font-size: 40px;
  text-decoration: none;
  color: white;
}
.icons a:hover{
  color: #a1a1a1
}

.half-vp{
  max-width: 50vw;
}



.width-100{
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 100%;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}


.Header h1{
  margin-top: 45px;
  margin-bottom: 45px;
  font-family: 'PRIMETIME-Regular';
  color: #111111;
  font-size: 40px;
}



.profile-picture{
  margin: 0;
  margin-top: 0;
}

.form-control:focus {
  border-color: #343a40;
  box-shadow: 0 0 0 3px rgba(52, 58, 64, 0.3);
}

/* Footer */
.footer{
	background-color: #111111;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 25px;
	margin-top: 80px;
	bottom:0;
}

.footer{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 10px 0 0px;
	margin: 0;
}

.footer .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

.footer a:hover{
	color: #a1a1a1
}
.absolute{
	position:absolute;
}

@media (max-width: 600px) {

	.footer{
		padding: 35px;
	}

	.footer .footer-company-motto{
		font-size: 18px;
	}

	.footer .footer-company-name{
		font-size: 12px;
	}

	.footer .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer .footer-links a{
		line-height: 1.8;
	}
}


/* MEDIA QUERRIES */
@media screen and (max-width: 990px){
  .right-box{
    display: none;
  }
  .left-box{
    width: 100vw;
  }
  .half-vp {
    max-width: 100vw;
}
