@font-face {
    font-family: 'PRIMETIME-Regular';
    src:url('../font/PRIMETIME-Regular.ttf.woff') format('woff'),
        url('../font/font/PRIMETIME-Regular.ttf.svg#PRIMETIME-Regular') format('svg'),
        url('../font/font/PRIMETIME-Regular.ttf.eot'),
        url('../font/font/PRIMETIME-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'socialtype';
    src: url('../font/socialtype.eot');
    src: url('../font/socialtype.eot?#iefix') format('embedded-opentype'),
        url('../font/socialtype.woff2') format('woff2'),
        url('../font/socialtype.woff') format('woff'),
        url('../font/socialtype.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.big-container{
  width: 100vw;
  height: 100vh
}
.box{
  height: 100vh;
  width:50vw;
  float: left;
  background-color: white;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}


.carousel-item{
  max-height: 100vh;
  max-width:50vw;
}
.carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-inner img {
  margin: auto;
}

.navbar-brand{
  width: 35px;
}
.nav-item{
  font-weight: 600;
}

h1 {
  margin-top: 25%;
   font-family: 'PRIMETIME-Regular';
   text-align: center;
}
.Header-index p{
   text-align: center;
   color: grey;
   font-size: 20px;
}
.btn-lg{
  transition: background-image 1s;
  background-image: linear-gradient(to right, #181818 , #757575);
  border: none;
  border-radius: 25px;
  color: white;
  margin-top: 10%;
}
.btn-lg:hover{
  color: white;
  background-image: linear-gradient(to left, #181818 , #757575);
}

.icons a{
  font-family: 'socialtype';
  font-size: 40px;
  text-decoration: none;
  color: white;
}
.icons a:hover{
  color: #a1a1a1
}

.half-vp{
  max-width: 50vw;
}



.width-100{
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 100%;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}


.Header h1{
  margin-top: 45px;
  margin-bottom: 45px;
  font-family: 'PRIMETIME-Regular';
  color: #111111;
  font-size: 40px;
}

.btn{
  display: inline-block;
  text-align: center;
  margin-bottom: 50px;
}

.profile-picture{
  margin: 0;
  margin-top: 0;
}

@media screen and (max-width: 990px){
  .right-box{
    display: none;
  }
  .left-box{
    width: 100vw;
  }
  .half-vp {
    max-width: 100vw;
}
